p{
    font-family: Palette Mosaic;
    margin-top: 0px;
    margin-bottom: 0px;
}
.video-title {
    font-weight: bold;
    font-size: 18px;
    width: 300px;
    line-height: 24px;
    margin-bottom: 5px;
}

.video-stats {
    font-size: 14px;
    color: rgb(96, 96, 96);
    margin-bottom: 20px;
}

.video-autor {
    font-size: 14px;
    color: rgb(96, 96, 96);
    margin-bottom: 20px;
}
.video-description{
    font-size: 14px;
    color: rgb(96, 96, 96);
    width: 300px;
    line-height: 20px;
}
.apple-button{
    margin-top: 100px;
    background-color: rgb(168, 25, 25);
    color: white;
    text-align: center;
    padding-top: 16px;
    padding-bottom: 16px;
}
.span-element{
    cursor: pointer;
    margin-left: 20px;
}
.span-element:hover{
    text-decoration: underline;
}
